{{ define "main" }}
    <h2>{{ .Title }}</h2>
    {{ .Content }}
    {{- template "_internal/pagination.html" . -}}
    <ul>
    {{ range .Paginator.Pages }}
        {{ $thumbnailResource := false }}
        {{ if .Params.thumbnailSpec.page }}
            {{ $thumbnailPage := site.GetPage (.Params.thumbnailSpec.page) }}
            {{ $thumbnailResource = $thumbnailPage.Resources.GetMatch (printf "%s*" (.Params.thumbnailSpec.resource)) }}
        {{ else }}
            {{ $thumbnailResource = resources.Get (.Params.thumbnailSpec.resource) }}
        {{ end }}
        <li>
            <a href="{{ .RelPermalink }}">
                {{ with $thumbnailResource }}<img src="{{ .RelPermalink }}" height="50">{{ end }}
                <span>{{ .LinkTitle }}</span>
            </a>
            {{ with .Params.description }}<div>{{ . }}</div>{{ end }}
        </li>
    {{ end }}
    </ul>
    {{- template "_internal/pagination.html" . -}}
{{ end }}
