{{ $pages := where site.RegularPages "Section" (.Get "section") }}
<ul class="resource-list">
{{ range $pages.Limit (.Get "limit" | int) }}
    {{ $thumbnailResource := false }}
    {{ if .Params.thumbnailSpec.page }}
        {{ $thumbnailPage := site.GetPage (.Params.thumbnailSpec.page) }}
        {{ $thumbnailResource = $thumbnailPage.Resources.GetMatch (printf "%s*" (.Params.thumbnailSpec.resource)) }}
    {{ else }}
        {{ $thumbnailResource = resources.Get (.Params.thumbnailSpec.resource) }}
    {{ end }}
    <li class="resource">
        <a href="{{ .RelPermalink }}" class="resource-link">
            {{ with $thumbnailResource }}<img src="{{ .RelPermalink }}" height="50" alt="">{{ end }}
            <span>{{ .LinkTitle }}</span>
        </a>
        {{ with .Params.description }}<div class="description">{{ . }}</div>{{ end }}
    </li>
{{ end }}
</ul>
