{{/*
Renders an HTML figure element in any page context.

@param {string} [type] The type of thumbnail (square, medium, thumbnail).
@param {string} [page] The path to a content page object. If not given, assumes resource is the full path to a global (asset) resource.
@param {string} [resource] The resource name (prefix or full).

@returns {template.HTML}
*/}}

{{ $height := .Get "height" }}
{{ $resource := false }}

{{ if .Get "page" }}
    {{ $page := site.GetPage (.Get "page") }}
    {{ $resource = $page.Resources.GetMatch (printf "%s*" (.Get "resource")) }}
{{ else }}
    {{ $resource = resources.Get (.Get "resource") }}
{{ end }}

<img src="{{ with $resource }}{{ .RelPermalink }}{{ end }}" {{ with $height }}height="{{ . }}"{{ end }}>
